<mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>  
  
<mat-paginator class="altRow" [pageSizeOptions]="[25, 50, 100]"></mat-paginator>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let cols of displayedColumns" [matColumnDef]="cols">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> {{cols}} </th>
      <td mat-cell *matCellDef="let row"> {{row[cols]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{altRow: even}"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>  
</div>